<!-- local styles to remove default styling for hyperlinks -->
<style>
    a {
        color: #fff;
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

</style>

<div class="row">
    <div class="container" style="display: flex;">
        <div class="jumbotron col-md-7">
            <h1 class="form-signin-header" style="text-align:center;">Hello, <%= current_user.name %>.</h1><br />
            <div style="text-align:center">
                <button type="button" class="btn btn-lg btn-primary"><%= link_to "Compete Now!", new_wager_path %></button>
                <button type="button" class="btn btn-lg btn-primary"><%= link_to "Check your current competitions", wagers_path %></button><br />
            </div>
        </div>
        <!-- Begin friend bar -->
        <div class="jumbotron col-md-4" style="float:right;">
            <h2 style="text-align:center">Friends</h2>
            <% if @friends %>
                <ul class="list-unstyled" style="text-align:center">
                    <% @friends.each do |friend| %>
                        <li style="color:#000080"><%= friend['name'] %></li><br />
                    <% end %>
                </ul>
            <% end %>
        </div>
        <!-- end friend bar -->
    </div>
</div>
