<div class="container" style="text-align:center">
    <!-- Provide links for users to authenticate with third-parties -->
    <h1 class="form-signin-heading">Welcome to FitIn!</h1>
    <%= link_to image_tag('facebook.png', :width => '300px'), '/auth/facebook' %><br /><br />
    <%= link_to image_tag('venmo-white.png', :class => 'image', :width => '296px'), '/auth/venmo' %><br /><br />
    <%= link_to image_tag('runkeeper.png', :width => '295px'), '/auth/runkeeper' %>
    <br />
    <!-- Begin other form of authentication -->
    <p>
        <strong>Don't use these services?</strong><br />
        <%= link_to "Create an account", new_identity_path %> or login below.
    </p>

    <%= form_tag("/auth/identity/callback", {:role => "form", :class => "form-signin"}) do %>
        <div class="form-group">
            <%= text_field_tag :auth_key, nil, class: 'form-control', placeholder: "Enter Email", type: "email" %>
        </div>
        <div class="form-group">
            <%= password_field_tag :password, nil, class: 'form-control', placeholder: "Password" %>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    <% end %>
    <!-- end other form of authentication -->
</div>
