<!-- local style to turn buttons into links -->
<style>
    tr:hover :not(th) {
        color:blue;
        background-color:gray;
    }
</style>

<div class="container">
    <div class="jumbotron">
        <!-- Begin table of wagers (competitions) -->
        <table class="table">
            <h2 style="text-align:center;">Current Competitions</h2>
            <thead>
                <th>Opponent</th>
                <th>Activity</th>
                <th>Amount</th>
                <th>Time Left</th>
            </thead>
            <tbody>
                <% @wagers.each do |wager| %>
                    <tr onclick="document.location = '/wagers/<%= wager.id %>';">
                        <% if current_user.name == wager.challenger %>
                            <td><%= wager.acceptor %></td>
                        <% else %>
                            <td><%= wager.challenger %></td>
                        <% end %>
                        <td><%= wager.activity %></td>
                        <td><%= wager.amount %></td>
                        <td><%= wager.timeleft %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <!-- end table -->

        <br />
        <%= link_to "Start a competition now!", new_wager_path %>
    </div>
</div>
