<div class="container">
    <div class="jumbotron">
        <!-- Begin form to generate new wagers -->
        <%= form_for(@wager, :html => {:class => 'form-horizontal'}) do |f| %>
            <% if @wager.errors.any? %>
                <div id="error_explanation" class="help-block">
                    <h2>
                        <%= pluralize(@wager.error.count, 'error') %> prohibited this wager from being saved.
                    </h2>

                    <ul>
                        <%= @wager.error.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

            <div class="form-group">
                <%= f.label :acceptor, "Opponent" %>
                <%= f.select(:acceptor, options_for_select(current_user.friends.collect { |c| [c, c] }), {}, {class: 'form-control'}) %>
            </div>

            <div class="form-group">
                <%= f.label :amount %>
                <%= f.select(:amount, options_for_select([["$0", 0.00], ["$1", 1.00], ["$5", 5.00], ["$10", 10.00]]), {}, {class: 'form-control'}) %>
            </div>

            <div class="form-group">
                <%= f.label :activity %>
                <%= f.select(:activity, options_for_select([["Running", "Running"], ["Cycling", "Cycling"], ["Swimming", "Swimming"]]), {}, {class: 'form-control'}) %>
            </div>

            <div class="form-group">
                <%= f.label :duration, "End of Competition" %>
                <%= f.datetime_select(:duration) %>
            </div>

            <div class="form-group">
                <%= f.submit 'Submit', :class => 'btn btn-default' %>
            </div>
        <% end %>
        <!-- end form -->
    </div>
</div>
