<div class="container">
    <!-- Displays current user progress -->
    <h2>Competition Progress: <%= @wager.activity %></h2>
    <ul>
        <li>Your Progress: <%= @total_distance || @wager.temp || 0 %></li>
        <li>Your Opponent's Progress: <%= @total_distance || @wager.temp+10 || 0 %></li>
    </ul>

    <%= link_to "End Competition", wager_path(@wager), method: :delete, data: { confirm: "Are you sure?" } %>
</div>
