<div class="containter" style="text-align:center">
    <h1>New Account</h1>

    <%= form_tag('/auth/identity/register', { :class => "form-signin" }) do %>
        <% if @identity && @identity.errors.any? %>
            <div class="error_messages">
                <h2><%= pluralize(@identity.errors.count, 'error') %> prohibited this account from being saved:</h2>
                <ul>
                    <% @identity.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <div class="form-group">
            <%= text_field_tag :name, nil, class: "form-control", placeholder: "Name", autofocus: true %>
        </div>
        <div class="form-group">
            <%= text_field_tag :email, nil, class: "form-control", placeholder: "Email" %>
        </div>
        <div class="form-group">
            <%= password_field_tag :password, nil, class: "form-control", placeholder: "Password" %>
        </div>
        <div class="form-group">
            <%= password_field_tag :password_confirmation, nil, class: "form-control", placeholder: "Confirm Password" %>
        </div>
        <button class="btn btn-large btn-primary btn-block" type="submit">Register</button>
    <% end %>
</div>
