<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>FitIn</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <!-- Fixed navbar (courtesy of Bootstrap) -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">FitIn</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/sessions/index">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <% if current_user %>
                        <li><a href="#">Hi, <%= current_user.name %>.</a></li>
                        <li><a href="/logout">Log Out</a></li>
                    <% else %>
                        <!-- pass -->
                    <% end %>
                </ul>
            </div>
        </div>
        </nav> <!-- End navbar -->

        <%= yield %>

        <!-- Fixed footer, also courtesy of Bootstrap -->
        <footer class="footer">
        <div class="container">
            <p class="text-muted" style="text-align:center; line-height: 60px;">&copy; 2014 FitIn</p>
        </div>
        </footer>
        <!-- End footer -->

        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </body>
</html>
